.formdivreg{
    background-color: #1a73e8;
    width: 300px;
    text-align: center;
    height: 420px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 60px;
    border-radius: 20px;
}
.parentformdivreg{
    padding-top: 70px;
    padding-bottom: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100px;
    align-items: center;
}
.registerform h1{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding-bottom: 40px;
}
.registerform label{
    font-size: 21px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding-right: 20px;
    
}
.registerform input{
    background-color: transparent;
    border: 3px solid #f0f8ff;
    border-radius: 20px;
    padding: 5px;
    color: #f0f8ff;
    font-size: 15px;
    transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.registerform input:hover {
  border-radius: 10px;
  border: 3px solid #f0f8ff;
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.registerform input::placeholder{
  color: white;
}
.registerform button{
    margin: 0 10px;
    padding: 5px 20px;
    border-radius: 10px;
    color: #f0f8ff;
    background: linear-gradient(375deg, #9d50bb, #6e48aa);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    color: #1a73e8;
    background: white;
}
.registerform button:hover{
    background: #1a73e8;
    color: white;
    border: 1px solid #bec1d1;
}
.formendreg{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}