@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
  --primary: #040714;
  --secondary: #09FA04;
  --thirdaly: #2D46B9;
  --fourthly: #FB7181;
}

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary);
  transition: all .5s;
}


#root {
  height: 100%;
}

/* Layout */
 h1, h3, p, a , i , button, select {
  color: var(--secondary);
  font-family: 'Quicksand', sans-serif;
}

input {
  caret-color: white;
  color: #dddeee;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: var(--thirdaly);
  font-family: 'Quicksand', sans-serif;
}

h1 {
  color: var(--fourthly);
  font-family: 'Quicksand', sans-serif;
}

body {
  color: var(--secondary);
  font-family: 'Quicksand', sans-serif;
}

h2 {
  color: var(--fourthly);
  font-family: 'Quicksand', sans-serif;
}

select {
  color: var(--secondary);
  font-family: 'Quicksand', sans-serif;
}

.fa {
  color: var(--secondary);
}

.price {
  color: var(--thirdaly);
  font-weight: bolder;
}



span {
  color: var(--thirdaly);
}

.footer a {
  text-decoration: underline;
}

p.D1 {
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background: var(--primary);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  position: fixed;
  z-index: 100;
  width: 100%;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background: var(--primary);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: var(--secondary);
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

.hidden{
  display: none;
  visibility: hidden;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--fourthly);
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--primary);
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background: var(--primary);
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem var(--thirdaly) solid;
}
button.primary {
  background: var(--primary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: var(--secondary);
  padding: 1rem;
}
a.brand {
  color: var(--secondary);
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: var(--thirdaly);
  color: var(--secondary);
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
  margin: 20px;
}
.col-2 {
  flex: 2 1 50rem;
  margin: 20px;
}
.col-3 {
  flex: 32 1 75rem;
  margin: 20px;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}
/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background: var(--primary);
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
  z-index: 101;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: var(--secondary);
  cursor: pointer;
}

button , input , textarea, select{
  border: 1px solid var(--secondary);
}

aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}


/* Image */

img {
  border-radius: 20px;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}

large_img {
  width: 100vw;
  min-width: 100%;
}
/* Card */
.card {
  background: var(--primary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: var(--secondary) solid 1px;
  border-radius: 20px;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: var(--secondary);
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
  color: var(--secondary);
  font-size: 5rem;
  align-items: center;
  margin: auto;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: var(--primary);
}
.alert-danger {
  color: #a02020;
  background-color: var(--primary);
}
.alert-success {
  color: #20a020;
  background-color: var(--primary);
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown{
  display: inline-block;
  position: relative;
  border: var(--secondary) solid 1px;
  margin: 10px;
  padding: 10px 5px;
  border-radius: 10px;
}

.cart {
  border: var(--secondary) solid 1px;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background: var(--primary);
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem var(--fourthly) solid;
  color: var(--secondary);
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: var(--thirdaly);
  color: var(--thirdaly);
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background: var(--primary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.table td,
.table th {
  text-align: left;
  background: var(--primary);
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide img {
  width: 90vw;
  height: 50vh;
}

/* Search */
.search button {
  border-left: none;
  margin-right: 0.5rem;
  border-radius: 0 1rem 1rem 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.search input {
  border-right: none;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem 0 0 1rem;
  caret-color:white;
}

@media (max-width: 640px){
  .search input button{
    width: 40%;
    height: 40%;
  }
}
.active {
  font-weight: bold;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}


/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem var(--thirdaly) solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

/* Dashboard */

.summary > li {
  border: 0.1rem var(--fourthly) solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background: var(--primary);
}
.summary-title.color2 {
  background: var(--primary);
}
.summary-title.color3 {
  background: var(--primary);
}

/* Chatbox */
.chatbox {
  color: var(--secondary);
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: var(--primary);
}
.chatbox ul {
  overflow: scroll;
  max-height: 20rem;
}
.chatbox li {
  margin-bottom: 1rem;
}
.chatbox input {
  width: calc(100% - 9rem);
}

.support-users {
  background: var(--primary);
  border-radius: 10px;
  border: 1px solid ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  height: 100%;
}
.support-users li {
  background-color: var(--primary);
}
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-users li {
  margin: 0;
  background-color: var(--primary);
  border-bottom: 0.1rem var(--thirdaly) solid;
}

.support-users li:hover {
  background-color: var(--primary);
}
.support-users li.selected {
  background-color: var(--primary);
}
.support-messages {
  padding: 1rem;
}
.support-messages input {
  width: calc(100% - 9rem);
}
.support-messages ul {
  height: calc(100vh - 18rem);
  max-height: calc(100vh - 18rem);
  overflow: scroll;
}
.support-messages li {
  margin-bottom: 1rem;
}

.support-users span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}

