body {
    background: rgba( 255, 0, 0, 0.15);
}

h1 {
    font-size: 50px;
    font-style: italic;
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

h3 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

h4 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

h5 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

h6 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

h7 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

h8 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

h9 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

h10 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

h11 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

h12 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

h13 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

h14 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

h15 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

h16 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

h17 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

h18 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.S1 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.S2 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.S3 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.S4 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.S5 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.S6 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.S7 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.S8 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.S9 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.S10 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.S11 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.S12 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.S13 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.S14 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.S15 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.S16 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.t1 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.t2 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

p.t3 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}